@page "/counter"

<PageTitle>Teller</PageTitle>

<h1>Teller:</h1>

<p role="status">Huidige telling: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Druk op mij</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
